# OS & IDE configuration files
.DS_Store
.idea/
*.swp
*.swop
*.swo

# Binaries & Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
*.sh
*.bat
*.cmd
__debug*

# Environment & Security (Keep .env.example)
.env*
*.env*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
*.cer
*.crt
*.pem
*.p12
*.pfx
*.pass

# Build & Output
/bin/
/build/
/out/
/dist/
/.next/
/.vercel/
*.test
*.out
coverage.*
/coverage

# Dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# Database files
*.db
*.sqlite

# Logs, Caches & Temporary Files
*.log
*.cache
*.tmp
/tmp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.trace

# Archives & Specific Runtimes
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.bun
