services:
  api:
    build: .
    container_name: api
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - BUN_ENV=development
