services:
  api:
    build: .
    container_name: bun_api
    ports:
      - "3003:3003"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - BUN_ENV=development
